.cover {
    /* background-color: dimgray; */
    background: #2F303A;
    background-image: url(./../images/imgback.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-color: rgba(47, 48, 58, 1); */
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.cover__div  {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    align-items: center;
}
