.customers {
    /* background-color: aquamarine; */
    font-family: 'Roboto', sans-serif;
    /* height: 350px; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.customers__div {
    /* background-color: azure; */
    text-align: center;
    margin: 94px 0;
}
.customers__div-h2 {
    font-size: 36px;
}
.customers__div-list {
    /* background-color: bisque; */
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
.customers__list-element {
    border:1px solid #AFB1B8;
    fill: #AFB1B8;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customers__list-element:hover {
    border: solid 1px #2196F3;
    fill: var(--color-blue);
    /* fill: #2196f3; */
   

}