/* KOLORY  komponenty zasoby */
:root {
    --color1: rgba(175, 177, 184, 1);
    --color-blue: rgba(33, 150, 243, 1);
    --head-border: rgba(236, 236, 236, 1);
}


.container {
    margin: 0 auto;
    inline-size: 100%;
    max-inline-size: 1200px;
    padding: 0 15px;
}


// @media screen and (min-width:480px;) {
//     .container {
//         flex-wrap: wrap;
//         display: none;
//     }
// }


// phone 480
// tablet 768
// desk 1200

$phone: 480px;
$tablet: 768px;
$desk:1200px;
